<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f752ae2c-91e8-4d22-bb05-9c877a0af754/resourcegroups/Api20230521200313ResourceGroup/providers/Microsoft.Web/sites/Api20230521200313</ResourceId>
    <ResourceGroup>Api20230521200313ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/f752ae2c-91e8-4d22-bb05-9c877a0af754/resourceGroups/Api20230521200313ResourceGroup/providers/Microsoft.ApiManagement/service/ApiKyrsach/apis/Api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api20230521200313.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>85ed88b7-461d-42e8-8706-5116a3ee5701</ProjectGuid>
    <MSDeployServiceURL>api20230521200313.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Api20230521200313</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Api20230521200313</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>